.TextbarContainer{
    width: 80%;
    position: relative;
}

.TextbarContainer small{
    position: absolute;
    top:60px;
    left: 0px;
    color: white;
}


@media (min-width:420px){
    .TextbarContainer{
        margin: auto;
    }
}